<h1>Now that you have registered, it's time to <strong>LOG IN!</strong></h1>
<br/>
<br/>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert]%></div>
<% elsif flash[:notice] %>
<div class="notice"><%= flash[:notice]%></div>
<% end %>

<form action="success" method="post"
  <label for "username">Username:</label>
  <input type="text" name="username" placeholder="Username" required>
  <br/>
  <label for "password">Password:</label>
  <input type="password" name="password" placeholder="Password" required>
  <br/>
  <input type="submit" placeholder="save">
</form>
